{% extends "IcoRulesBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
<div class="btn-group pull-right" style="top: 20px;">
    <span href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	   Liens sources
	   <span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
	   <li><a target="_blank" href="{{ class.link.url }}" class="text-nowrap"><img class="thumbnail" src="{{ asset('Resources/public/images/'~class.link.source.picture) }}" alt="logo {{ class.link.source.name }}" /> {{ class.link.source.name }} [{{ class.link.source.language }}]</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="justify row">
    <div class="col-lg-4">
	   <img class="class-illustration" src="{{ asset('Resources/public/images/characterclasses/'~class.slug~'.jpg') }}" alt="illustration {{ class.name }}" />
    </div>
    <div class="col-lg-8">
	   <div class="panel panel-default">
		  <div class="panel-heading">Description</div>
		  <div class="panel-body justify">
			 {{ class.description|environment|raw }}
		  </div>
	   </div>
	   <div class="panel panel-default">
		  <div class="panel-heading">Role</div>
		  <div class="panel-body justify">
			 {{ class.role|environment|raw }}
		  </div>
	   </div>
    </div>
    <a name="TABLE"></a>
    <div class="col-lg-12">
	   <table class="table table-condensed table-hover table-striped">
		  <thead>
			 <tr>
				<th>Niveau</th>
				<th>BBA</th>
				<th>Réf</th>
				<th>Vig</th>
				<th>Vol</th>
				<th>Spécial</th>
				<th colspan="{{ class.levels|last.dailySpells|length }}" class="text-center">Sorts par jour</th>
			 </tr>
			 <tr>
				<th colspan="6"></th>
				{% for nbSpell in class.levels|last.dailySpells %}
				<th><small>{{ loop.index0 }}{% if loop.index0 == 1 %}er{% elseif loop.index0 > 1 %}e&nbsp;{% else %}&nbsp;&nbsp;{% endif %}</small></th>
				{% endfor %}
			 </tr>
		  </thead>
		  <tbody>
			 {% for level in class.levels %}
				<tr>
				    <td>{{ level.level }}</td>
				    <td>+{{ level.bba }}</td>
				    <td>+{{ level.ref }}</td>
				    <td>+{{ level.vig }}</td>
				    <td>+{{ level.vol }}</td>
				    <td class="text-left">{% for special in level.specials %}{% if loop.index != 1 %}, {% endif %}<a href="#{{ special.special.nameId }}" data-toggle="popover" data-content="<h4>{{ special.special.name }} <small>[Capacité de classe]</small></h4>
<hr />
<div class='well well-sm'>{{ special.special.description }}</div>" >{{ special.label }}</a>{% endfor %}</td>
				    {% for nbSpell in level.dailySpells %}
                                        <td>{% if nbSpell > 0 %}{{ nbSpell }}{% else %}-{% endif %}</td>
				    {% endfor %}
				</tr>
			 {% endfor %}
		  </tbody>
	   </table>
	   <br />
    </div>
    <div class="col-lg-4">
	   <div class="panel panel-default">
		  <div class="panel-heading">Alignement</div>
		  <div class="panel-body">{{ class.alignment }}</div>
	   </div>
    </div>
    <div class="col-lg-4">
	   <div class="panel panel-default">
		  <div class="panel-heading">Dés de vie</div>
		  <div class="panel-body">{{ class.hitDie }}</div>
	   </div>
    </div>
    <div class="col-lg-4">
	   <div class="panel panel-default">
		  <div class="panel-heading">Points de compétence par niveaux</div>
		  <div class="panel-body">{{ class.baseSkillPoints }} + modificateur d'<a class="preview" href="{{ path('ico_rules_abilities_view', {'id': 4, 'slug': 'intelligence'}) }}">Intelligence</a></div>
	   </div>
    </div>
    <div class="col-lg-12">
	   <div class="panel panel-default">
		  <div class="panel-heading">Compétences de classe</div>
		  <div class="panel-body">
		  {% for skill in class.skills %}
			 {% if loop.index != 1 %}, {% endif %}<a class="preview text-nowrap" href="{{ path('ico_rules_skills_view', {'id': skill.id, 'slug': skill.slug}) }}">{{ skill.name }}</a>
		  {% endfor %}
		  </div>
	   </div>
    </div>
    {% for special in class.specials %}
        <a name="{{ special.nameId }}"></a>
        <div class="col-lg-12">
	   <div class="panel panel-default">
               <div class="panel-heading">{{ special.name }}<a href="#TABLE" class="btn btn-default btn-xs pull-right"> Tableau <span class="fa fa-level-up"></span></a></div>
                <div class="panel-body">
                    {{ special.detail|environment|raw }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}