<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }} - {{ subtitle }}</title>
{#	   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
	   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        {% stylesheets 
		  '@IcoAppBundle/Resources/public/css/bootstrap.css'
		  '@IcoAppBundle/Resources/public/css/lumen.min.css'
		  '@IcoAppBundle/Resources/public/css/animate.css'
		  '@IcoAppBundle/Resources/public/css/leather.css'
		  '@IcoAppBundle/Resources/public/css/header.css'
		  '@IcoAppBundle/Resources/public/css/base.css'
	   filter='cssrewrite' %}
	   <link rel="stylesheet" href="{{ asset_url }}" />
	   {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	   
	   <script>
		  var assets = "{{ asset('') }}";
	   </script>
    {% javascripts 
	   '@IcoAppBundle/Resources/public/js/jquery.js' 
	   '@IcoAppBundle/Resources/public/js/jquery-ui.min.js' 
	   '@IcoAppBundle/Resources/public/js/bootstrap.min.js' 
	   '@IcoAppBundle/Resources/public/js/chosen.jquery.min.js' 
	   '@IcoAppBundle/Resources/public/js/ready.js' 
    %}
	   <script type="text/javascript" src="{{ asset_url }}"></script>
	   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	   <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
	   
	   {% include '::header.html.twig' %}
	   <div class="container">
{% block body %}

		  {% for flashMessage in app.session.flashbag.get('success') %}
			 {% include 'success.html.twig' with {'message': flashMessage} %}
		  {% endfor %}
		  {% for flashMessage in app.session.flashbag.get('error') %}
			 {% include 'error.html.twig' with {'message': flashMessage} %}
		  {% endfor %}
		  {% for flashMessage in app.session.flashbag.get('warning') %}
			 {% include 'warning.html.twig' with {'message': flashMessage} %}
		  {% endfor %}
		  {% for flashMessage in app.session.flashbag.get('info') %}
			 {% include 'info.html.twig' with {'message': flashMessage} %}
		  {% endfor %}
		  
		  <div class="row">
		  {% block breadcrumb %}
			 <ul class="breadcrumb">
			 {% for label, route in breadcrumb %}
				{% if route == '' or loop.index == breadcrumb|length %}
				<li>{{ label }}</li>
				{% else %}
				<li><a href="{{ path(route) }}">{{ label }}</a></li>
				{% endif %}
			 {% endfor %}
			 </ul>
		  {% endblock %}
		  {% block title %}
			 <div class="col-lg-12">
				<h1>{{ title }} <small>{{ subtitle }}</small></h1>
			 </div>
		  {% endblock %}
		  </div>
			 
			 <div class="col-lg-12">
		  {% block content %}{% endblock %}
			 </div>

{% endblock %}
	   </div>
    </body>
</html>
