<div class="navbar navbar-default">
    <div class="container">
	   <div class="navbar-header">
		  <img src="{{ asset('favicon.ico') }}" style="height:35px;position:absolute;top:8px;" alt="d20" />
		  <a style="margin-left:30px;" href="../" class="navbar-brand"> Icosahedron</a>
		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
		  </button>
	   </div>

	   <ul class="nav navbar-nav">
		  <li class="dropdown">
			 <a class="dropdown-toggle account" data-toggle="dropdown" href="#" id="feats">Règles <span class="caret"></span></a>
			 <ul class="dropdown-menu" aria-labelledby="feats">
				<li><a href="{{ path('ico_rules_feats') }}">Dons</a></li>
				<li><a href="{{ path('ico_rules_spells') }}">Sorts</a></li>
			 </ul>
		  </li>
	   </ul>

	   {#{% if is_granted('ROLE_ADMIN') %}
	   <ul class="nav navbar-nav">
		  <li class="dropdown">
			 <a class="dropdown-toggle account" data-toggle="dropdown" href="#" id="feats">Administration <span class="caret"></span></a>
			 <ul class="dropdown-menu" aria-labelledby="feats">
				<li><a href="{{ path('ico_admin_rules') }}">Synchroniser les données</a></li>
			 </ul>
		  </li>
	   </ul>
	   {% endif %}#}

	   <ul class="nav navbar-nav navbar-right">
		  {% if app.user is not null %}
		  <li class="dropdown">
			 <a class="dropdown-toggle account" data-toggle="dropdown" href="#" id="account">{{ app.user.username }} <span class="caret"></span></a>
			 <ul class="dropdown-menu" aria-labelledby="account">
				<li><a href="{{ path('fos_user_security_login') }}">Profile</a></li>
				<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			 </ul>
		  </li>
		  {% else %}
		  <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
		  {% endif %}
	   </ul>

    </div>
</div>