<div class="panel panel-default">
    <div class="panel-heading">Catégories</div>
    <div class="panel-body justify">
    {% for feattype in feat.feattypes %}
	   {% if loop.index != 1 %}, {% endif %}{% if feattype.description is not empty %}<a class="preview text-nowrap" href="{{ path('ico_rules_feattypes_view', {'id': feattype.id, 'slug': feattype.slug}) }}">{{ feattype.name }}</a>{% else %}{{ feattype.name }}{% endif %}
    {% endfor %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Conditions</div>
    <div class="panel-body justify">
    {% if feat.featprerequisites|length > 0 %}
	   {% for featprerequisite in feat.featprerequisites %}{% if loop.index != 1 %}, {% endif %}{% if featprerequisite.link != '' %}<a class="preview" href="{{ featprerequisite.link|environment }}">{{ featprerequisite.name }}</a>{% else %}{{ featprerequisite.name }}{% endif %}{% endfor %}
    {% else %}
	   Aucune
    {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Avantage</div>
    <div class="panel-body justify">{{ feat.benefit|environment|raw }}</div>
</div>
{% if tree.tree|length > 1 %}
<div class="panel panel-default">
    <div class="panel-heading">Arbre de progression</div>
    <div class="panel-body justify" style="overflow-x: auto;">
	   {% include 'IcoRulesBundle:Tree:tree.html.twig' with {'entity': feat, 'trueTree': tree} only %}
    </div>
</div>
{% endif %}