{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set breadcrumb = [] %}
{% block breadcrumb %}
{% endblock %}
{% set title = 'Connexion' %}
{% set subtitle = 'Entrez vos identifiants' %}
{% set error = error|trans %}

{% block title %}
<div class="col-lg-6 col-lg-offset-3">
    <h1>{{ title }} <small>{{ subtitle }}</small></h1>
</div>
{% endblock %}

{% block fos_user_content %}
<div class="jumbotron col-lg-6 col-lg-offset-3">
    <form role="form" action="{{ path("fos_user_security_check") }}" method="post">

	   <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	   <div class="form-group">
		  <label for="username">{{ 'security.login.username'|trans }}</label>
		  <div class="input-group">
			 <span class="input-group-addon"><span class="fa fa-user"></span></span>
			 <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
		  </div>
	   </div>
	   <div class="form-group">
		  <label for="password">{{ 'security.login.password'|trans }}</label>
		  <div class="input-group">
			 <span class="input-group-addon"><span class="fa fa-lock"></span></span>
			 <input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
		  </div>
	   </div>
	   <div class="form-inline" style="text-align: right;">
		  <div class="checkbox" style="margin-right: 15px;">
			 <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			 <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		  </div>
		  <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
	   </div>
    </form>
</div>
{% endblock fos_user_content %}
