<table class="trueTree">
{% set nbcol = trueTree.getNumberOfColumns %}
{% set tdpercent = 100/nbcol %}
{% for level, entities in trueTree.tree %}
    <tr>
    {% if level == 0 %}

    {# Entité actuelle #}

	   <td colspan="{{ nbcol }}" style="width:{{ tdpercent }}%"><span class="text-nowrap">{{ entities[0].name }}</span></td>

    {% elseif level > 0 %}

    {# Entités enfants #}

	   {% for entity in entities %}
		  {% set colspan = trueTree.getTrueParents(entity, level-1)|length %}
		  <td colspan="{{ colspan }}" style="width:{{ tdpercent * colspan }}%"><a class="preview text-nowrap" href="{{ path('ico_rules_feat_view', {'id': entity.id, 'slug': entity.slug}) }}">{{ entity.name }}</a></td>
	   {% endfor %}

    {% elseif level < 0 %}

    {# Entités parents #}

	   {% for entity in entities %}
		  {% set colspan = trueTree.getTrueChildren(entity, level+1)|length %}
		  <td colspan="{{ colspan }}" style="width:{{ tdpercent * colspan }}%"><a class="preview text-nowrap" href="{{ path('ico_rules_feat_view', {'id': entity.id, 'slug': entity.slug}) }}">{{ entity.name }}</a></td>
	   {% endfor %}

    {% endif %}
    </tr>
{% endfor %}
</table>