{% extends "IcoMassFightBundle::layout.html.twig" %}
{% form_theme form 'IcoAppBundle:Form:fields.html.twig' %}

{% block title %}
    {{ parent() }}
    {% if army is defined and is_granted('DELETE', army) %}
        <div class="pull-right btn-title">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#armyDelete"><span class="fa fa-times"></span> Supprimer</button>
        </div>
        <div class="modal fade" id="armyDelete" tabindex="-1" role="dialog" aria-labelledby="Suppression de l'armée {{ army.name }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Suppression de l'armée {{ army.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            La suppression d'une armée est définitive.<br />
                            Êtes-vous sûr de vouloir supprimer <strong>{{ army.name }}</strong> ?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-undo"></span> Annuler</button>
                        <a href="{{ path('ico_mass_fight_army_delete', {'id': army.id, 'slug': army.slug}) }}" class="btn btn-primary"><span class="fa fa-times"></span> Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right btn-title">
            <a href="{{ path('ico_mass_fight_army_view', {'id': army.id, 'slug': army.slug}) }}" class="btn btn-default"><span class="fa fa-cogs"></span> Stats de combat</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.alignment) }}
        {{ form_row(form.size) }}
        <div class="col-xs-12">
            <label>Unité type</label>
            <div class="well col-xs-12">
                {{ form_row(form.type) }}
                {{ form_row(form.lifeDicesType) }}
                {{ form_row(form.fpType) }}
                {{ form_row(form.speed) }}
            </div>
        </div>
        {{ form_row(form.tactics) }}
        <div class="form_row form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_label(form.commander) }}
            {{ form_errors(form.commander) }}
            <div class="input-group">
                {{ form_widget(form.commander) }}
                <span id="edit-commander-link" class="input-group-btn">
                    <button type="button" class="btn btn-default" onclick="window.location.href = Routing.generate('ico_mass_fight_commander_edit', {id:$('#army_commander').val(), slug: 'foo'});">
                        <span class="fa fa-pencil"></span> Éditer
                    </button>
                </span>
            </div>
        </div>
        <div id="commanderForm" class="col-xs-12">
            <div class="well col-xs-12">
                {% for name, inputCommander in form.newCommander %}
                    {{ form_row(
                        inputCommander,
                        {'value': attribute(newCommander, name) }
                    ) }}
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span> Sauvegarder
            </button>
        </div>
    {{ form_end(form) }}
        
    <script>
        $(document).ready(function () {
            syncCommanderForm();
            
            $('#army_commander').change(function () {
                syncCommanderForm();
            });
            
            $('form[name=army]').submit(function () {
                if ($('#army_commander').val()) {
                    $('#commanderForm').remove();
                }
            });
            
            function syncCommanderForm()
            {
                if ($('#army_commander').val()) {
                    $('#commanderForm').hide();
                    $('#edit-commander-link').show();
                    $('form[name=army]').attr('novalidate', 'novalidate');
                } else {
                    $('#commanderForm').show();
                    $('#edit-commander-link').hide();
                    $('form[name=army]').removeAttr('novalidate');
                }
            }
        });
    </script>
{% endblock %}