{% extends "IcoMassFightBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
{% if app.user is not null %}
<div class="pull-right" style="position: relative; top: 20px;">
    <a href="{{ path('ico_mass_fight_army_new') }}" class="btn btn-primary"><span class="fa fa-plus"></span> Nouvelle armée</a>
    <br class="visible-xs-block" />
    <br class="visible-xs-block" />
    <br class="visible-xs-block" />
</div>
{% endif %}
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Nom</th>
            <th>Composition</th>
            <th>FPA</th>
            <th>Créateur</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
        </tr>
        {% for army in list %}
            <tr class="link" onclick="window.location.href = Routing.generate('ico_mass_fight_army_view', {id:{{ army.id }}, slug: '{{ army.slug }}'});">
                <td>{{ army.name }}</td>
                <td>{{ army.size ~ ' ' ~ army.type }}</td>
                <td>{{ army.fpa }}</td>
                <td>{{ army.createdBy.username }}</td>
                <td>{{ army.created|date('d/m/Y') }}</td>
                <td>{{ army.updated|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}