{% block form_widget %}
    {% spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="control-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="text-danger"> {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form class="row" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_row %}
{% spaceless %}
    <div class="
        form_row
        form-group
        {% if not form.vars.valid %}
            has-error
        {% endif %}
        {% if attr.formGroupClass is defined %}
            {{ attr.formGroupClass }}
        {% endif %}
    ">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
    {% if attr.clearfix is defined %}
        <div class="form_row form-group col-xs-12 col-sm-12 col-md-12 col-lg-12{{ attr.clearfix }}">
            {% if attr['data-section'] is defined %}
                <div data-section="{{ attr['data-section'] }}"></div>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
{% endspaceless %}
{% endblock form_widget_simple %}
    
{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <textarea {{ block('widget_attributes') }} rows="3">{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
        {% set required = false %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" data-placeholder="Choisissez un ou plusieurs"{% endif %}>
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block checkbox_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}
    
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button class="btn {% if type == 'submit' %}btn-primary{% else %} btn-default{% endif %}" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if type == 'submit' %}<span class="fa fa-check"></span> {% endif %}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        {{ form_widget(form.hour, vars) }}<span class="input-group-addon inner-addon">h</span>{{ form_widget(form.minute, vars) }}<span class="input-group-addon {% if with_seconds %}inner-addon{% endif %}">m</span>{% if with_seconds %}{{ form_widget(form.second, vars) }}<span class="input-group-addon">s</span>{% endif %}
    {% endif %}
{% endblock time_widget %}

{# DATEPICKER #}

{% block datepicker_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control datepicker'}) %}
    <input placeholder="Date" type="text" {% if value is not empty %}value="{{ value }}" {% endif %} {{ block('widget_attributes') }}/>
{% endblock %}

{# DATETIMEPICKER #}

{% block datetimepicker_widget %}
    {{ form_errors(form.date) }}
    {{ form_errors(form.time) }}
    <div class="input-group datetimepicker">
        <span class="input-group-addon">Le</span>
        {{ form_widget(form.date) }}
        <span class="input-group-addon inner-addon">à</span>
        {{ form_widget(form.time) }}
    </div>
{% endblock %}

{# COLLECTION PROTOTYPE #}

{% block collection_prototype_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' table table-condensed'}) %}
    <div class="well well-sm table-responsive" data-prototype="{% filter escape %}{% include 'IcoAppBundle:Form:collection_prototype_line.html.twig' with {line: prototype, 'unique_fields': unique_fields} only %}{% endfilter %}" data-min="{{ min_entries }}" data-max="{{ max_entries }}">
        <table {{ block('widget_attributes') }}>
            <tr>
            {% for entry in prototype %}
                <th 
                {% if entry.vars.attr["data-switch"] is defined %}
                    {% if entry.vars.attr["data-switch"] == 'custom' %}
                    class="hidden"
                    {% endif %}
                {% endif %}
                >{{ form_label(entry) }}</th>
            {% endfor %}
                <th>
                    <button type="button" class="btn btn-default prototype-add" data-toggle="tooltip" title="Nouvelle ligne">
                        <span class="fa fa-plus"></span>
                    </button>
                </th>
            </tr>
            {% if auto_calculated_total %}
                <tr>
                    <td>
                        <input disabled type="text" class="form-control" value="Valeur totale">
                    </td>
                    <td>
                        <input disabled type="text" class="form-control display-sum{% if auto_calculated_total == 'ability' %} display-mod{% endif %}"></td>
                    <td></td>
                </tr>
            {% endif %}
            {% for auto_calculated_field, type in auto_calculated_fields %}
                <tr data-add-{{ type }}-from="{{ auto_calculated_field }}">
                    <td><input disabled type="text" class="form-control"></td>
                    <td><input disabled type="text" class="modificator-value form-control"></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% for line in form %}
            {% include 'IcoAppBundle:Form:collection_prototype_line.html.twig' with {'line': line, 'unique_fields': unique_fields} only %}
        {% endfor %}
        </table>
    </div>
{% endblock %}