{% extends "IcoKingmakerBundle::layout.html.twig" %}

{% block content %}
    <div id="mapModelWrapper"> 
        <img src="{{ asset('bundles/icokingmaker/images/mapModel/' ~ map.mapModel.slug ~ '.jpg') }}" alt="Carte de {{ map.mapModel.name }}" />
        <svg>
        <g id="interests">{% include 'IcoKingmakerBundle:Map:interests.html.twig' with {'map': map} %}</g>
        <g id="hexs">{% include 'IcoKingmakerBundle:Map:hexs.html.twig' with {'map': map} %}</g>
        <g id="frontier">{% include 'IcoKingmakerBundle:Map:frontier.html.twig' with {'map': map} %}</g>
        </svg>
    </div>
    {% for hex in map.hexs %}
        <div id="modal_hex_{{ hex.id }}" class="modal modalHex" data-hex="{{ hex.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Hexagone</h4>
                    </div>
                    <div class="modal-body">
                        {% if is_granted('EDIT', hex.map.campaign) %}
                            <div class="well">
                                <fieldset>
                                    <legend>Actions</legend>

                                    {# explored #}
                                    <button {% if not hex.explored or hex.annexed %}style="display:none;"{% endif %} class="btn btn-default cancelable exploredTrue"><span class="fa fa-check"></span> Exploré</button>
                                    <button {% if hex.explored or hex.annexed %}style="display:none;"{% endif %} class="btn btn-primary exploredFalse"><span class="fa fa-search"></span> Explorer</button>
                                    <button {% if not hex.annexed %}style="display:none;"{% endif %} title="Vous ne pouvez pas annuler l'explorationn d'un hexagone annexé" class="btn btn-default exploredDisabled disabled"><span class="fa fa-check"></span> Exploré</button>

                                    {# annexed #}
                                    <button {% if not hex.annexed or not hex.explored %}style="display:none;"{% endif %} class="btn btn-default cancelable annexedTrue"><span class="fa fa-check"></span> Annexé</button>
                                    <button {% if hex.annexed or not hex.explored %}style="display:none;"{% endif %} class="btn btn-primary annexedFalse"><span class="fa fa-globe"></span> Annexer</button>
                                    <button {% if hex.explored %}style="display:none;"{% endif %} title="Vous devez d'abord explorer un hexagone avant de pouvoir l'annexer" class="btn btn-default annexedDisabled disabled"><span class="fa fa-globe"></span> Annexer</button>

                                    {# interests #}
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-map-marker"></span> Ajouter un point d'intérêt <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for interest in mapInterestModels %}
                                                <li class="mapinterestmodel" data-id="{{ interest.id }}"><a><img class="mapinteresticon" src="{{ asset('bundles/icokingmaker/images/mapInterest/' ~ interest.slug ~ '.png') }}" alt="Icon {{ interest.name }}" /> {{ interest.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>
                        {% endif %}
                        <div class="well">
                            <fieldset>
                                <legend>Points d'intérêt</legend>
                                <div class="interestslist">{% include 'IcoKingmakerBundle:Map:interestsList.html.twig' with {'list': hex.mapInterests} %}</div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="interestslistmodals">{% include 'IcoKingmakerBundle:Map:interestsListModals.html.twig' with {'list': hex.mapInterests} %}</div>
    {% endfor %}

    <script>var map ={{ map|json_encode() }}</script>
    <script src="{{ asset('bundles/icokingmaker/js/maps.js') }}"></script>
{% endblock %}