{% extends "IcoKingmakerBundle::layout.html.twig" %}

{% block content %}
    <div id="mapModelWrapper"> 
        <img src="{{ asset('bundles/icokingmaker/images/mapModel/' ~ map.mapModel.slug ~ '.jpg') }}" alt="Carte de {{ map.mapModel.name }}" />
        {{ fillTheMap(map)|raw }}
    </div>
    {% for hex in map.hexs %}
	   <div id="modal_hex_{{ hex.id }}" class="modal fade" data-hex="{{ hex.id }}">
		  <div class="modal-dialog">
			 <div class="modal-content">
				<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
				    <h4 class="modal-title">Gestion de l'hexagone</h4>
				</div>
				<div class="modal-body">
				    <button {% if not hex.explored %}style="display:none;"{% endif %} class="btn btn-default cancelable exploredTrue"><span class="fa fa-check"></span> Exploré</button>
				    <button {% if hex.explored %}style="display:none;"{% endif %} class="btn btn-primary exploredFalse"><span class="fa fa-search"></span> Explorer</button>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			 </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	   </div><!-- /.modal -->
    {% endfor %}
    
    <script src="{{ asset('bundles/icokingmaker/js/maps.js') }}"></script>
{% endblock %}