{% if list|length %}
    <div class="panel panel-default">
        {% for interest in list %}
            <div class="panel-body" data-id="{{ interest.id }}">
                <img class="mapinteresticon" src="{{ asset('bundles/icokingmaker/images/mapInterest/' ~ interest.mapInterestModel.slug ~ '.png') }}" alt="Icon {{ interest.mapInterestModel.name }}" />
                {{ interest.name }}
                {% if is_granted('EDIT', interest.hex.map.campaign) %}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-sm interest" data-toggle="modal" data-target="#interestEdit{{ interest.id }}"><span class="fa fa-pencil"></span></button>
                        <button type="button" class="btn btn-default btn-sm interest" data-toggle="modal" data-target="#interestDelete{{ interest.id }}"><span class="fa fa-times"></span></button>
                    </div>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <span class="fa fa-ban"></span> Rien de particulièrement intéressant ici.
{% endif %}