{% for interest in list %}
    
    {# Modale suppression #}
    <div id="interestDelete{{ interest.id }}" class="modal" data-id="{{ interest.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suppression de {{ interest.name }}</h4>
                </div>
                <div class="modal-body">
                    La suppression d'un point d'intérêt est difinitive.<br />
                    Étes-vous sûr de vouloir supprimer <strong>{{ interest.name }}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-undo"></span> Annuler</button>
                    <button type="button" class="btn btn-primary interestDelete" data-id="{{ interest.id }}" data-hex="{{ interest.hex.id }}"><span class="fa fa-times"></span> Supprimer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {# Modale édition #}
    <div id="interestEdit{{ interest.id }}" class="modal" data-id="{{ interest.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Édition de {{ interest.name }}</h4>
                </div>
                <div class="modal-body">
{#                    <form>#}
                        <div class="form-group" style="width: 260px;">
                            <label class="control-label" for="name{{ interest.id }}">Nom</label>
                            <input id="name{{ interest.id }}" type="text" class="form-control" name="name" placeholder="Légende courte" maxlength="25" value="{{ interest.name }}" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description{{ interest.id }}">Description</label>
                            <textarea id="description{{ interest.id }}" class="form-control" name="description" placeholder="Détails complémentaires" maxlength="255" rows="5">{{ interest.description|raw }}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Position</label>
                            <input class="sliderX" id="positionX{{ interest.id }}" type="range" name="positionX" value="{{ interest.position.x }}" max="{{ interest.hex.maxX }}" min="{{ interest.hex.minX }}" style="width: {{ interest.hex.width }}px;" />
                            <input class="sliderY" id="positionY{{ interest.id }}" type="range" name="positionY" value="{{ interest.position.y }}" max="{{ interest.hex.maxY }}" min="{{ interest.hex.minY }}" style="height: {{ interest.hex.height }}px;" /><div class="sliderHex" style="width: {{ interest.hex.width }}px; height: {{ interest.hex.height }}px;" ><img src="{{ asset('bundles/icokingmaker/images/mapModel/' ~ interest.hex.map.mapModel.slug ~ '.jpg') }}" alt="Aperçu hexagone" style="margin-left: -{{ interest.hex.minX }}px; margin-top: -{{ interest.hex.minY }}px;" /><img class="mapinteresticon" src="{{ asset('bundles/icokingmaker/images/mapInterest/' ~ interest.mapInterestModel.slug ~ '.png') }}" alt="Icon {{ interest.mapInterestModel.name }}" style="left: {{ interest.position.x - interest.hex.minX - 15 }}px; top: {{ interest.position.y - interest.hex.minY - 15 }}px;" /></div>
                        </div>
{#                    </form>#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-undo"></span> Annuler</button>
                    <button type="button" class="btn btn-primary interestEdit" data-id="{{ interest.id }}" data-hex="{{ interest.hex.id }}"><span class="fa fa-check"></span> Enregistrer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endfor %}